<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet"> 
    <!-- Link al archivo CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- TITULO -->
    <title>Honky Caps</title>
</head>

<body class="body-home">
    <header class="header-style">
        <img class="logo" src="/images/descargar.jpeg" alt="prueba de logo">
        <div class="search-bar-box">
            <div class="search-bar-container">
                <input type="search-text" id="buscar" placeholder="Buscar">
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        <div class="burger-container">
            <button class="burger-menu"><i class="fa fa-bars"></i></button>
        </div>
        <div class="cart-container">
            <a class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Historial</a></li>
            </ul>
            <ul>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="carrousel">
            <article class="tarjeta-carrousel">
                <img src="" alt="IMAGEN-1">
                <img src="" alt="IMAGEN-2">
                <img src="" alt="IMAGEN-3">
            </article>
        </section>

        <section class="tarjetas-producto">
            <article>
                <a href="/productDetail">
                    <img src="/images/descargar.jpeg" alt="">
                    <div class="descripcion">
                        <p>LA NEGRA</p>
                        <p>$1200</p>
                    </div>
                </a>
            </article>
            <article>
                <img src="/images/descargar.jpeg" alt="">
                <div class="descripcion">
                    <p>LA NEGRA</p>
                    <p>$1200</p>
                </div>
            </article>
            <article>
                <img src="/images/descargar.jpeg" alt="">
                <div class="descripcion">
                    <p>LA NEGRA</p>
                    <p>$1200</p>
                </div>
            </article>
            <article>
                <img src="/images/descargar.jpeg" alt="">
                <div class="descripcion">
                    <p>LA NEGRA</p>
                    <p>$1200</p>
                </div>
            </article>
        </section>

        <section class="personalizar">
            <h3>Servicio de personalización</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas molestias ipsa aliquam eius animi fuga iure excepturi.</p>
            <div class="botones">
                <button>Registrarme</button>
                <button>Login</button>
            </div>
        </section>
    </main>


    <footer class="footer-style">
        <p class="derechos">Contacto, Direccion, Telefono, Copyright</p>
        <p class="redes-sociales"><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-twitter"></i></p>
    </footer>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>