<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet"> 
    <!-- Link al archivo CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styleHome.css" rel="stylesheet">
    <!-- TITULO -->
    <title>Honky Caps</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <img src="/images/LOGO NEGRO.svg" alt="logo">
            
            <div class="search-bar-container">
                <input type="search-text" placeholder="Buscar">
                <i class="fa fa-search"></i>
            </div>
            
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>

            <button class="burger-menu"><i class="fa fa-bars"></i></button>
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Historial</a></li>
            </ul>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="carrousel-home">
            <article class="tarjeta-carrousel-home">
                <img src="/images/imagen-carrousel-1.jpg" alt="IMAGEN-1">
                <img src="/images/imagen-carrusel-2.webp" alt="IMAGEN-2">
                <img src="/images/imagen-carrusel-3.jpg" alt="IMAGEN-3">
            </article>
        </section>

            <section class="tarjetas-producto">
                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/FER-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>FERRARI</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/ADI1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>ADIDAS</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/DUF-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>DUFF</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/cor-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>CORONA</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/NY1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>NEW YORK</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/HON-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>HONDA</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/KTM-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>KTM</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/PUM-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>PUMA</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/riv-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>RIVER</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>
                
                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/boc-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>FERRARI</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/V46-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>BOCA</p>
                            <p>$1200</p>
                        </div>
                    </a>
                </article>
            </section>

            <section class="personalizar">
                <article class="textos-perso" >
                    <h3>Servicio de Personalización</h3>
                    <p>Personalizamos todos nuestros modelos, envíanos tu petición a nuestro email y pronto nos contactaremos contigo.</p>
                </article>
        
                <article class="img-perso">
                    <img src="/images/gorra1.png" alt="foto-gorra">
                </article>
            </section>
                
            <div class="botones">
                <button>Registrarme</button>
                <button>Login</button>
            </div>
    </main>

    <footer>
        <article class="contacto-redes">
            <div class="contacto">
                <a href="mailito:elgorro@honkycaps.com">elgorro@honkycaps.com</a>
                <a href="">Av. De La Gorra 452 Bs. As.</a>
                <a href="">(5411) 3638-9956</a>
            </div>    
            <div class="redes">
                <a href="https:/www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https:/www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https:/www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </article>

        <p>Hecho por grupo 5 &copy 2022 - todos los derechos reservados. </p>
    </footer>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>