<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet"> 
    <!-- Link al archivo CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- TITULO -->
    <title>Proyecto Intregrador - Gorras</title>
</head>

<body>
    <header class="header-style">
        <div class="burger-container">
            <button class="burger-menu"><i class="fa fa-bars"></i></button>
        </div>
        <div class="search-bar-container">
            <input type="search-text" placeholder="Buscar"><i class="fa fa-search"></i>
        </div>
    </header>
    <main>
        <p class="text">
            Probando, 1, 2, 3
        </p>
    </main>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>