<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Login</title>
</head>

<body>

    <header class="header-celular">

        <nav class="nav-celular">
                <img class="logo-celular" src="/images/descargar.jpeg" alt="Logo">
            
            <d class="buscador-celular"> <input type="search-text" id="buscar" placeholder="Buscar"> </d>
            <i class="fa fa-search"></i>

            <d class="burger">  <i class="fa-solid fa-bars"></i>  </d>
            <d class="carrito"> <i class="fa-solid fa-cart-shopping"></i> </d>
        </nav>
    </header>

    <section class="muestra">
        <img class="imagen1" src="/images/descargar.jpeg" alt="Imagen"> 
        <img class="imagen2" src="/images/descargar.jpeg" alt="Imagen"> 
        <img class="imagen3" src="/images/descargar.jpeg" alt="Imagen"> 
    </section>

    <section class="inicio">

        <h1> INICIO DE SESION </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. In explicabo magnam nostrum aspernatur quia fugiat
            quibusdam expedita dolor tempora? Excepturi modi optio ratione, eveniet quisquam minima soluta nesciunt fuga
            doloribus.</p>

        <h3>E-mail / Telefono / Usuario </h3>

        <d class="correo"><input type="search-text" id="buscar" placeholder="fulano@gmail.com"></d>
        <p>Olvidaste tu contrasenia</p>
    </section>

    <section class="botones">

        <button class="ingresar"> Ingresar </button>
        <button class="registrarse"> Registrarse </button>

    </section>

    <footer class="footer-style">
        <d class="contacto">
            Contacto, Direccion, Copyright
        </d>
        <d class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </d>

    </footer>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>