<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet"> 
    <!-- Link al archivo CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- TITULO -->
    <title>Proyecto Intregrador - Gorras</title>
</head>
<body>
    <header class="header-style">
        <img class="logo" src="/images/descargar.jpeg" alt="prueba de logo">

        <div class="search-bar-box">
            <div class="search-bar-container">
                <input type="search-text" id="buscar" placeholder="Buscar">
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        
            <div class="burger-container">
                <button class="burger-menu"><i class="fa fa-bars"></i></button>
            </div>
            <div class="cart-container">
                <a class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

        <nav>
            <ul>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Historial</a></li>
            </ul>
            <ul>
                <li><a href="#">Registrarse</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-style">
        <h3 class="nombre-producto">Nombre de Modelo</h3>
        <p class="info-producto">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
        <div class="imagen-principal">
            <img class="imagen001" src="/images/descargar.jpeg" alt="imagen grande de detalle de producto">
        </div>
        <div class="imagenes-secundarias">
            <img class="imagen002" src="/images/descargar.jpeg" alt="imagen miniatura de detalle de producto">
            <img class="imagen003" src="/images/descargar.jpeg" alt="imagen miniatura de detalle de producto">
            <img class="imagen004" src="/images/descargar.jpeg" alt="imagen miniatura de detalle de producto">
        </div>
        <p class="info-producto">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <h2 class="precio">PRECIO</h2>
        <h3 class="cuotas">cuotas</h3>
        <p class="metodos-de-pago">Metodos de Pago</p>
        <div class="tarjetas">
            <i class="fa-brands fa-cc-visa"></i>  <i class="fa-brands fa-cc-mastercard">  </i>  <i class="fa-brands fa-cc-amex"></i>
        </div>

        <div class="caja-de-comentarios">
            
        </div>
        
        <div class="checkout">
            <a class="comprar" href="Comprar">Comprar</a>
            <a class="agregar-al-carrito" href="/views/productCart.html">Agregar al Carrito</a>
        </div>
    </main>

    <footer class="footer-style">
        <p class="derechos">Contacto, Direccion, Telefono, Copyright</p>
        <p class="redes-sociales"><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-twitter"></i></p>
    </footer>
    

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>