<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Fuente Roboto Slab regular 400 y Rubik Distressed 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet"> 
    <!-- Link al archivo CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
    <link href="/css/styleProductDetail.css" rel="stylesheet">
    <!-- TITULO -->
    <title>Proyecto Intregrador - Gorras</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="/images/LOGO NEGRO.svg" alt="logo">
            
            <div class="search-bar-container">
                <input type="search-text" placeholder="Buscar">
                <i class="fa fa-search"></i>
            </div>
            
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>

            <button class="burger-menu"><i class="fa fa-bars"></i></button>
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Historial</a></li>
            </ul>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-style">
        <h3 class="nombre-producto">Nombre de Modelo</h3>
        <p class="info-producto">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
        <div class="imagen-principal">
            <img class="imagen001" src="/images/NY1.jpg" alt="imagen grande de detalle de producto">
        </div>
        <div class="imagenes-secundarias">
            <img class="imagen002" src="/images/NY1.jpg" alt="imagen miniatura de detalle de producto">
            <img class="imagen003" src="/images/NY2.jpg" alt="imagen miniatura de detalle de producto">
            <img class="imagen004" src="/images/NY3.jpg" alt="imagen miniatura de detalle de producto">
        </div>
        <p class="info-producto">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <h2 class="precio">PRECIO</h2>
        <h3 class="cuotas">cuotas</h3>
        <p class="metodos-de-pago">Metodos de Pago</p>
        <div class="tarjetas">
            <i class="fa-brands fa-cc-visa"></i>  <i class="fa-brands fa-cc-mastercard">  </i>  <i class="fa-brands fa-cc-amex"></i>
        </div>

        <div class="caja-de-comentarios">
            
        </div>
        
        <div class="checkout">
            <a class="comprar" href="Comprar">Comprar</a>
            <a class="agregar-al-carrito" href="/views/productCart.html">Agregar al Carrito</a>
        </div>
    </main>

    <footer>
        <article class="contacto-redes">
            <div class="contacto">
                <a href="mailito:elgorro@honkycaps.com">elgorro@honkycaps.com</a>
                <a href="">Av. De La Gorra 452 Bs. As.</a>
                <a href="">(5411) 3638-9956</a>
            </div>    
            <div class="redes">
                <a href="https:/www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https:/www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https:/www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </article>

        <p>Hecho por grupo 5 &copy 2022 - todos los derechos reservados. </p>
    </footer>
    

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>