* {
    /* margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    text-align: center;
    /* border: solid; */
}

:root {
    --primario: #faf3e3;
    --secundario: #ff9f29;
    --terciario: #1a4d2e;

    --negro: black;
    --blanco: white;
    --rojo: red;
    --azul: blue;
    --amarillo: yellow;
    --verde: green;
    --naranja: orange;
    --violeta: violet;
}

/********************header******************/
header { 
    background-color: black;
    border-bottom: solid 3px #ff9f29;
}
.top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-bar img {
    width: 25%;
}
.search-bar-container {
    position: relative;
    width: 50%;
}
.search-bar-container input {
    border-radius: 20px;
    width: 100%;
}
.search-bar-container i {
    color: #ff9f29;
    position: absolute;
    top: 15%;
    right: 4%;
}
.fa-cart-shopping {
    color: #ff9f29;    
}
.burger-menu {
    border-radius: 5px;
    background-color: #ff9f29;
    color: #faf3e3;
    border: none;    
}
header nav {
    display: none;
}


body {
    background-color: var(--negro);
    font-family: 'Roboto Slab', serif;
    color: #ff9f29;
}


/* articulos de muestra */
.muestra {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 5px;
}

.imagen1 {
    width: 30%;
    height: auto;
    border-radius: 50%;
    background-color: #ff9f29;
    border: solid 4px #1a4d2e;
    filter: drop-shadow(0px 0px 4px #ff9f29);
}


/* FORMULARIO  */
.inicio {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}

.inicio label {
    font-size: 15px ;
    font-weight: bold;
}

H2, P {
    margin: 0px;
}

.ingresar,
.registrarse,
.pass {
    

    background-color: #1a4d2e;
    color: #ff9f29;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.footer-style {
    display: flex;
    background-color: var(--terciario);
    color: white;
    justify-content: space-around;
    padding: 3px;

}