/* Fuentes */

/* Fuente Rubik para usar en puntos particulares del proyecto */
/* font-family: 'Rubik Distressed', cursive; */

:root{
    --primario: red;
    --secundario: blue;
    --terciario: yellow;
    --cuarto: green;
}

body{
font-family: 'Roboto Slab', serif;
}

.header-style{
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    display: none;
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
}

.search-bar-container{

    border: solid black 1px;

    border-radius: 14px;

}

.burger-menu{

    border: none;
    background-color: blueviolet;
    border-radius: 12px;
    height: 25px;
    width: 25px;
}
.cart-container{
    
    border: none;
    background-color: blueviolet;
    border-radius: 12px;
    height: 25px;
    width: 25px;

}

.cart{
    margin-top: 3px;
}

.text{
    color: red;
}

/* HOME */



/* CARRITO DE COMPRAS */



/* REGISTRO */



/* LOG IN */



/* DETALLE DE PRODUCTO */