/* Fuentes */

/* Fuente Rubik para usar en puntos particulares del proyecto */
/* font-family: 'Rubik Distressed', cursive; */

body{
font-family: 'Roboto Slab', serif;
}

.header-style{
    background-color: blue;
    height: 70px;
}

.search-bar-container{
    display: inline;
    float: left;
    border: solid black 1px;
    margin-top: 2%;
}

.burger-menu{
    display: inline;
    float: right;
    border: none;
    background-color: blueviolet;
    border-radius: 12px;
    height: 30px;
    width: 30px;
    margin-right: 8%;
    margin-top: 2%
}
.cart{
    display: inline;
    float: right;
    border: none;
    background-color: blueviolet;
    border-radius: 12px;
    height: 30px;
    width: 30px;
    margin-right: 2%;
    margin-top: 2%
}

.text{
    color: red;
}