* {
    box-sizing: border-box;
}

:root{
    --primario: #faf3e3;
    --secundario: #ff9f29;
    --terciario: #1a4d2e;

    --negro: black;
    --blanco: white;
    --rojo: red;
    --azul: blue;
    --amarillo: yellow;
    --verde: green;
    --naranja: orange;
    --violeta: violet;
}

body{
font-family: 'Roboto Slab', serif;
background-color: var(--negro);
}

.carrousel-home {
    background-color: gray;
    overflow: hidden;

}

.tarjeta-carrousel-home {
    position: relative;
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    animation-name: mueve-carrousel;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.tarjeta-carrousel-home img {
    width: calc(100% / 3);
    height: 80px;
}

.tarjetas-producto article {
    text-align: center;
    

}

.tarjetas-producto article img {
    width: 70%;
    filter: drop-shadow(6px 6px 3px #ff9f29);
    transition: all 0.5s;
    
}

.tarjetas-producto article div {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
   
}

.tarjetas-producto article div p {
    font-size: 14px;
    margin: 0px;
}

.personalizar {
    background-image: url(/images/descargar.jpeg);
    font-size: 14px;
}
.botones {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

@keyframes mueve-carrousel {
    0% {right: 0px;}
    30% {right: 0px;}

    35% {right: 100%;}
    65% {right: 100%;}

    70% {right: 200%;}
    100% {right: 200%;}
}

.tarjetas-producto article img:hover {
   transform: rotate(0.05turn) scale(1.1);
    
}
