<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include ("../partials/header") %> 
    
    <form action="" method="post">
        <label for="name">name</label>
        <input type="text" name="name">

        <label for="description"></label>
        <textarea name="description" cols="30" rows="10"></textarea>

        
    </form>
</body>
</html>

